<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insspring.poifox">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_fox"
        android:label="@string/poifox"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name="com.insspring.poifox.ui.user.UserActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.insspring.poifox.ui.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>